@charset "UTF-8";
/*--------- MENU ---------*/
body {
  /*--------- FOOTER ---------*/
  /* RESPONSIVE */
  /* moviles pequeños */
  /* moviles grandes */
  /* ipads y tablets */
  /* pequeños monitores */
}

body .logoNavbar {
  max-height: 50px;
}

body .items__navbar {
  background-color: #000;
  width: 100%;
  height: 6em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 25px;
}

body .items__navbar ul {
  list-style: none;
}

body .items__navbar li {
  display: inline-block;
}

body .items__navbar li a {
  font-family: "poppins";
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  letter-spacing: 1.2px;
  padding: 15px;
}

body .items__navbar li a:hover {
  color: #d45d79;
  background-color: #000;
}

body footer {
  width: 100%;
  background-color: #000;
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

body footer .footer-logo {
  width: 150px;
  padding-left: 50px;
}

body footer p {
  font-family: "poppins";
  font-size: 0.9rem;
  font-weight: 200;
  color: #fcf8f0;
  padding-left: 65px;
}

body footer .footer-redes ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
  padding-right: 235px;
}

body footer .footer-redes ul li {
  padding: 25px;
}

body footer .footer-redes .fa-instagram {
  color: #fff;
  font-size: 1.5rem;
}

body footer .footer-redes .fa-facebook {
  color: #fff;
  font-size: 1.5rem;
}

body footer .footer-redes .fa-youtube {
  color: #fff;
  font-size: 1.5rem;
}

body footer .footer-soporte ul li a {
  text-decoration: none;
  color: #d45d79;
  font-family: "poppins";
  font-weight: 200;
  padding: 10px;
  font-size: 18px;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body {
    /* MENU */
    /* FOOTER */
  }
  body .contenedor__navbar {
    width: 560px;
  }
  body .contenedor__navbar .items__navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .contenedor__navbar .items__navbar .logoNavbar {
    max-height: 50px;
  }
  body .contenedor__navbar .items__navbar ul li a {
    font-size: 16px;
  }
  body footer {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer .copyRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer .copyRight .footer-logo {
    width: 100px;
    padding: 0px;
  }
  body footer .copyRight p {
    text-align: center;
    padding: 5px 0px 0px 0px;
  }
  body footer .footer-redes ul {
    padding: 0px;
  }
  body footer .footer-soporte ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  body {
    /* MENU */
    /* FOOTER */
  }
  body .contenedor__navbar {
    width: 760px;
  }
  body .contenedor__navbar .items__navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .contenedor__navbar .items__navbar .logoNavbar {
    max-height: 50px;
  }
  body .contenedor__navbar .items__navbar ul li a {
    font-size: 16px;
  }
  body footer {
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer .copyRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer .copyRight .footer-logo {
    width: 100px;
    padding: 0px;
  }
  body footer .copyRight p {
    text-align: center;
    padding: 5px 0px 0px 0px;
  }
  body footer .footer-redes ul {
    padding: 0px;
  }
  body footer .footer-soporte ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  body {
    /* MENU */
    /* FOOTER */
  }
  body .items__navbar .logoNavbar {
    max-height: 40px;
  }
  body .items__navbar ul li a {
    font-size: 15px;
  }
  body footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer .copyRight {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body footer .copyRight .footer-logo {
    width: 100px;
    padding: 0px;
  }
  body footer .copyRight p {
    text-align: center;
    padding: 5px 0px 0px 0px;
  }
  body footer .footer-redes ul {
    padding: 0px;
  }
  body footer .footer-soporte ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

* {
  margin: 0px;
  padding: 0px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Rubik", "Poppins";
}

* body {
  background-color: #353535;
  max-width: 100%;
  max-height: 80vh;
  /*--------- INICIO  ---------*/
  /*--------- PLANES  ---------*/
  /*--------- DESCARGA  ---------*/
  /*--------- BLOG ---------*/
  /*--------- INICIAR SESIÓN  ---------*/
  /* ---------- RESPONSIVE ---------- */
  /* moviles pequeños */
  /* moviles grandes */
  /* ipads y tablets */
  /* pequeños monitores */
}

* body h1 {
  text-align: center;
  font-family: "Rubik";
  font-weight: 500;
  font-size: 45px;
  padding-top: 50px;
}

* body .banner {
  background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#353535));
  background: linear-gradient(#000, #353535);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

* body .banner .contenedorTextMob {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

* body .banner .contenedorTextMob .contenedorText {
  display: inline-block;
  max-width: 620px;
  padding-left: 80px;
}

* body .banner .contenedorTextMob .contenedorText h1 {
  color: #fff;
  margin: auto;
  font-size: 70px;
  text-align: left;
  padding: 0px;
}

* body .banner .contenedorTextMob .contenedorText p {
  color: #fff;
  font-size: 20px;
  font-family: "Poppins";
  font-weight: 100;
  padding-top: 30px;
}

* body .banner .contenedorTextMob .contenedorMob img {
  height: 30rem;
}

* body .contenedor__beneficios {
  background-color: #000;
  padding-bottom: 30px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

* body .contenedor__beneficios .card1,
* body .contenedor__beneficios .card2,
* body .contenedor__beneficios .card3 {
  padding: 55px;
}

* body .contenedor__beneficios .card1 img,
* body .contenedor__beneficios .card2 img,
* body .contenedor__beneficios .card3 img {
  max-height: 180px;
  padding-left: 70px;
}

* body .contenedor__beneficios .card1 .card-body h3,
* body .contenedor__beneficios .card2 .card-body h3,
* body .contenedor__beneficios .card3 .card-body h3 {
  color: #fff;
  font-size: 25px;
  text-align: center;
  font-family: "Rubik";
  font-weight: 500;
  letter-spacing: 3px;
  padding-bottom: 20px;
}

* body .contenedor__beneficios .card1 .card-body .card-text,
* body .contenedor__beneficios .card2 .card-body .card-text,
* body .contenedor__beneficios .card3 .card-body .card-text {
  font-size: 18px;
  font-family: "Poppins";
  font-weight: 100;
  color: #fff;
  line-height: 25px;
}

* body .contenedor__video .textVideo {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Rubik";
  font-size: 1.5rem;
  text-align: center;
  padding-top: 65px;
}

* body .contenedor__video .videoNp {
  margin: 60px;
  text-align: center;
}

* body .contenedor__video .videoNp iframe {
  padding: 22px;
}

* body .tituloPlanes h1 {
  background-color: #353535;
  color: #fff;
  text-align: center;
}

* body .tituloPlanes p {
  color: #fff;
  text-align: center;
  padding-top: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: auto;
}

* body .contenedor__planes {
  height: 540px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#353535), to(#000));
  background-image: linear-gradient(#353535, #000);
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  justify-items: center;
}

* body .contenedor__planes button {
  background-color: #6e5773;
  border: none;
  margin-top: 40px;
  padding: 10px;
  border-radius: 50px;
  -webkit-box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.2);
  width: 250px;
  color: #fff;
  font-size: 1.3rem;
  cursor: pointer;
}

* body .contenedor__planes .gridPlanes {
  width: 70rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3;
  grid-template-columns: repeat(3, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

* body .contenedor__planes .gridPlanes article {
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #fcf8f0;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.2);
  height: 25rem;
  width: 21rem;
}

* body .contenedor__planes .gridPlanes article:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.02, 1.02);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* body .contenedor__planes .gridPlanes article .textosPlanes {
  display: block;
  text-align: center;
  width: 300px;
}

* body .contenedor__planes .gridPlanes article .textosPlanes h2 {
  font-family: "Rubik";
  font-weight: 500;
  color: #d45d79;
  padding-bottom: 15px;
  text-transform: uppercase;
  font-size: 30px;
  border-bottom: #636363 solid 1px;
}

* body .contenedor__planes .gridPlanes article .textosPlanes h3 {
  font-family: "Rubik";
  font-weight: 500;
  padding-bottom: 25px;
  padding-top: 25px;
  color: #6e5773;
  font-size: 38px;
}

* body .contenedor__planes .gridPlanes article .textosPlanes p {
  color: #353535;
  font-size: 16px;
  text-align: left;
  padding: 0px 20px 10px 20px;
}

* body .contenedor__planes .gridPlanes article .textosPlanes .fa-arrow-circle-right {
  color: #6e5773;
  font-size: 15px;
}

* body .contenedor__descarga {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e9e2d0));
  background-image: linear-gradient(#fff, #e9e2d0);
  height: 25rem;
}

* body .contenedor__descarga .textDesc p {
  color: #353535;
  text-align: center;
  padding-top: 15px;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin: auto;
}

* body .contenedor__descarga .dispositivosDesc {
  padding-top: 50px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4;
  grid-template-columns: repeat(4, 1fr);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}

* body .contenedor__descarga .dispositivosDesc p {
  text-align: center;
  color: #353535;
  font-size: 1.4rem;
}

* body .contenedor__descarga .dispositivosDesc img:hover {
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

* body .contenedor__descarga .dispositivosDesc .mobileDesc,
* body .contenedor__descarga .dispositivosDesc .laptopDesc,
* body .contenedor__descarga .dispositivosDesc .tvDesc,
* body .contenedor__descarga .dispositivosDesc .tabletDesc {
  height: 200px;
}

* body .contenedor__botones__descarga {
  height: 10rem;
  padding-top: 2rem;
  background-color: #e9e2d0;
}

* body .contenedor__botones__descarga .botones_descarga {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 350px;
  margin-right: 350px;
  border: #636363 solid 2px;
  border-radius: 15px;
}

* body .contenedor__botones__descarga .botones_descarga img {
  width: 230px;
  cursor: pointer;
}

* body .tituloBlog {
  background-color: #fff;
}

* body .tituloBlog h1 {
  color: #353535;
}

* body .tituloBlog p {
  color: #353535;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;
  padding-top: 15px;
}

* body .contenedor__blog {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e9e2d0));
  background-image: linear-gradient(#fff, #e9e2d0);
  width: 100%;
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

* body .contenedor__blog .entrada1 {
  width: 100%;
  max-width: 45rem;
  background-color: #e9e2d0;
  -webkit-box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.3);
          box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 60px;
}

* body .contenedor__blog .entrada1 .imgEntrada1 img {
  min-width: 10rem;
  max-width: 10rem;
  -webkit-transform: translateX(-8rem);
  transform: translateX(-3rem);
  position: relative;
  border-radius: 10px;
  -webkit-box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.2);
  box-shadow: 10px 10px 16px -5px rgba(0, 0, 0, 0.2);
}

* body .contenedor__blog .entrada1 .textEntrada1 {
  position: absolute;
  padding-left: 160px;
  width: 40rem;
}

* body .contenedor__blog .entrada1 .textEntrada1 h2 {
  color: #353535;
  font-size: 1.5rem;
}

* body .contenedor__blog .entrada1 .textEntrada1 p {
  color: #353535;
  font-size: 0.9rem;
  padding-top: 1rem;
}

* body .contenedor__blog .entrada1 .textEntrada1 .linkMasInfo {
  text-decoration: underline;
  cursor: pointer;
  color: #d45d79;
}

* body .contenedor__blog .entrada1 .textEntrada1 .linkMasInfo:hover {
  color: #636363;
}

* body .contenedor__form {
  padding-top: 50px;
  background-color: #353535;
  height: 35rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 220px 4;
  grid-template-rows: repeat(4, 220px);
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

* body .contenedor__form .introForm {
  display: -ms-grid;
  display: grid;
  -ms-flex-line-pack: center;
  align-content: center;
  justify-items: center;
}

* body .contenedor__form .introForm p {
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  padding-top: 10px;
}

* body .contenedor__form .introForm h4 {
  color: #fff;
  text-align: center;
  font-family: "Poppins";
  font-size: 35px;
}

* body .contenedor__form .introForm img {
  height: 60px;
  text-align: center;
}

* body .contenedor__form .introForm .disfrutaDe {
  font-size: 20px;
}

* body .contenedor__form .formularioNp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* body .contenedor__form .formularioNp .form-control {
  width: 300px;
  height: 2rem;
  border: none;
  border-radius: 5px;
  padding: 15px;
  margin: 15px;
  font-family: "Poppins";
}

* body .contenedor__form .formularioNp .form-check {
  padding: 10px;
}

* body .contenedor__form .formularioNp .form-check .form-check-label {
  color: #e9e2d0;
  font-family: "Poppins";
}

* body .contenedor__form .formularioNp .userContrasena p {
  display: inline-block;
  color: #d45d79;
  cursor: pointer;
  border-bottom: solid 1px #d45d79;
  padding-top: 15px;
  text-align: center;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  * body .banner {
    width: 560px;
    height: 45rem;
  }
  * body .banner .contenedorTextMob {
    padding-top: 80px;
  }
  * body .banner .contenedorTextMob .contenedorText {
    width: 450px;
    padding-left: 35px;
  }
  * body .banner .contenedorTextMob .contenedorText h1 {
    font-size: 3.5rem;
    text-align: center;
  }
  * body .banner .contenedorTextMob .contenedorText p {
    font-size: 1.3rem;
  }
  * body .banner .contenedorTextMob .contenedorMob img {
    height: 18rem;
    padding-top: 40px;
  }
  * body .contenedor__beneficios {
    width: 120%;
  }
}

@media only screen and (min-device-width: 480px) and (max-device-width: 768px) {
  * body .banner {
    width: 150%;
    height: 50rem;
    padding: 45px;
  }
  * body .banner .contenedorTextMob {
    width: 780px;
  }
  * body .banner .contenedorTextMob .contenedorText h1 {
    font-size: 3rem;
    text-align: center;
  }
  * body .banner .contenedorTextMob .contenedorText p {
    font-size: 1.3rem;
  }
  * body .banner .contenedorTextMob .contenedorMob img {
    height: 25rem;
    padding-top: 40px;
  }
  * body .contenedor__beneficios {
    width: 130%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  * body .banner {
    height: 30rem;
    padding: 0px;
  }
  * body .banner .contenedorTextMob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  * body .banner .contenedorTextMob .contenedorText {
    display: inline-block;
    max-width: 620px;
    padding-left: 80px;
  }
  * body .banner .contenedorTextMob .contenedorText h1 {
    font-size: 3rem;
  }
  * body .banner .contenedorTextMob .contenedorText p {
    font-size: 1rem;
  }
  * body .banner .contenedorTextMob .contenedorMob img {
    height: 20rem;
    float: right;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1670px) {
  * body .banner {
    height: 35rem;
  }
  * body .banner .contenedorTextMob {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  * body .banner .contenedorTextMob .contenedorText {
    display: inline-block;
    max-width: 700px;
  }
  * body .banner .contenedorTextMob .contenedorText h1 {
    font-size: 3.8rem;
  }
  * body .banner .contenedorTextMob .contenedorText p {
    font-size: 1.2rem;
  }
  * body .banner .contenedorTextMob .contenedorMob img {
    height: 26rem;
    float: right;
  }
}
/*# sourceMappingURL=estilosnp.css.map */